{
  "extension": [
    ".ts"
  ],
  "reporter": [
    "html",
    "text-summary"
  ],
  "exclude": [
    "dist/spec/**/*",
    "src/index.ts",
    "coverage/",
    "spec/**/*",
    "src/data/*"
  ],
  "all": true,
  "sourceMap": true
}